.card {
    width: 200px;
    height: 270px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff;
    margin: 5px;
    perspective: 1000px;
    transition: transform 0.5s;
    border-radius: 10px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card img {
    max-width: 60%;
    max-height: 60%;
  }



  .card-back > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    

  } 

@media (max-width:414px){
  .card{
    width: 120px;
    height: 170px;
  }

  .card img{
    max-width: 50%;
    max-height: 50%;
  }

  .card-back > div{
    width: 100px;
    height: 150px;
    
  }
}



 
