@font-face {
  font-family: 'font-game';
  src: url('../../../public/assets/fonts/upheavtt.ttf');
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes backgroundMove {
  from {
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  to {
    background-position: 0 90%; 
    background-repeat: no-repeat;
  }
}

.pagina-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/assets/images/fundo.png");
  background-repeat: no-repeat;
  background-size: 100% 170%; 
  animation: backgroundMove 30s linear infinite;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  h1 {
    font-family: 'font-game';
    font-size: 60px;
    color: rgb(247, 255, 11);
    margin-bottom: 50px;
    text-decoration: none;
    text-decoration-color: transparent;
    letter-spacing: 10px;
    width: 1200px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  }

  h3 {
    font-family: 'font-game';
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dific{
 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;

    > *{
      background-color: rgb(247, 255, 11);
      text-decoration: none;
      border: 2px solid black;
      padding: 15px 25px;
      font-family: 'font-game';
      border-radius:4px ;
      font-size: 18px;
      color: black;
      animation: pulse 1s infinite;
    }
}

@media (max-width: 414px) {



    button {
      font-size: 16px;
      padding: 8px 16px;
  
      div {
        h1 {
          font-size: 25px;
          width: 380px;
          -webkit-text-stroke: transparent;
        }  
      }

      .dific{
        > *{
          padding: 10px 20px;
          font-size: 14px;
        }
    }
  }

}
}